[submodule "app/src/main/cpp/third_party/llama.cpp"]
	path = app/src/main/cpp/third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "app/src/main/cpp/third_party/SPIRV-Headers"]
	path = app/src/main/cpp/third_party/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "app/src/main/cpp/third_party/Vulkan-Headers"]
	path = app/src/main/cpp/third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
